# - Binary & Object Files -
# Ignored because they are generated during compilation
*.o
assembler
assembler.exe

# - Assembler Output Files -
# results of running my assembler on .as files
*.ob
*.ent
*.ext

# - Operating System & IDE Junk -
# For macOS 
.DS_Store
# For Windows 
Thumbs.db
# Common backup/temporary files
*~
*.swp
*.swo

# -- Logs -
*.log
