# Binaries and object files
*.o
assembler
assembler.exe

# Assembler output
# results of running my assembler on .as files
*.ob
*.ent
*.ext

# OS junk and temp files
.DS_Store
Thumbs.db
*~
*.swp
*.swo

# Logs 
*.log
